#
# LDAP Defaults
#

URI                 ldap://{{ inventory_hostname }}
BASE                dc=opentlc{{ GUID }},dc=com

rootdn          "cn=root,dc=opentlc{{ GUID }},dc=com"
rootpw		{SSHA}3dbfQu6dBzxuxgbQB8hMegguJvy8POVm


#REFERRALS           on
#BINDDN              cn=bindme,ou=Users,dc=opentlc{{ GUID }},dc=com
#SIZELIMIT           0
#TIMELIMIT           5
#DEREF                never
#TLS_CACERTDIR          /etc/pki/cacerts
#TLS_CIPHER_SUITE    DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-DSS-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA256:DHE-RSA-AES256-SHA:DHE-DSS-AES256-SHA:AECDH-AES256-SHA:ADH-AES256-GCM-SHA384:ADH-AES256-SHA256:ADH-AES256-SHA:ECDH-RSA-AES256-GCM-SHA384:ECDH-ECDSA-AES256-GCM-SHA384:ECDH-RSA-AES256-SHA384:ECDH-ECDSA-AES256-SHA384:ECDH-RSA-AES256-SHA:ECDH-ECDSA-AES256-SHA:AES256-GCM-SHA384:AES256-SHA256:AES256-SHA
#TLS_REQCERT         allow
#TLS_CRLCHECK        none

TLS_CACERTDIR	/etc/openldap/certs

# Turning this off breaks GSSAPI used with krb5 when rdns = false
SASL_NOCANON	on
