dn: dc=opentlc{{ GUID }}, dc=com
dc: opentlc{{ GUID }}
o: Oopen Tlc {{ GUID }}
objectclass: organization
objectclass: dcObject

dn: ou=People, dc=opentlc{{ GUID }},dc=com
objectclass: top
objectclass: organizationalUnit
ou: People
ou: Marketing

dn: ou=Groups,dc=opentlc{{ GUID }},dc=com
objectclass: top
objectclass: organizationalUnit
ou: Groups

dn: cn=openshift,ou=Groups,dc=opentlc{{ GUID }},dc=com
objectclass: top
objectclass: groupOfNames
member: cn=NOT REALLY,ou=People,dc=opentlc{{ GUID }},dc=com
cn: Administrators
