[Unit]
Description=Apache Directory Studio for Openshift
After=network.target
 
[Service]
Environment=JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.65-3.b17.el7.x86_64/
Type=idle
ExecStart=/opt/apacheds-2.0.0_M20/bin/apacheds start default
User=apacheds
Group=apacheds
TimeoutStartSec=0
TimeoutStopSec=180
 
[Install]
WantedBy=multi-user.target
